body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    margin-top: 1em;
    justify-content: center;
}
  
.grid-item {
    border: 1px solid darkred;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#welcomeBtns {
    text-align: center;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

    /* Centralise countdown text. Only works when display: flex */
    justify-content: center; /* Vertically */
    align-items: center; /* Horizontally */
}

#countdown {
    color: yellow;
    font-size: 7em;
}


#scoreAndNextShape {
    display: none; /* Hidden by default */
    margin-top: 1em;
}

table, th, td {
    color: white;
    font-size: 1.1em;
    border: 1px solid darkgoldenrod;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 0.15em;
}
