body {
    background-image: url("./assets/nier-automata-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #696459;
}

.grid-container {
    display: grid;
    background-color: #dbd4ba;
    border: 1px solid #696459;
}
  
.grid-item {
    border: 1px solid #b5af9b;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: blue;
}

#indexButtons {
    text-align: center;
    margin-top: 3vh;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

    /* Centralise countdown text. Only works when display: flex */
    justify-content: center; /* Horizontally */
    align-items: center; /* Vertically */
}

#countdown {
    color: yellow;
    font-size: 7em;
}

#scoreAndNextShape {
    margin-left: 2em;
}

#setGameModeButton {
    margin-left: 2em;
    margin-top: 10vh;
}

#combosAndTime, #gamepadLogContainer {
    margin-right: 2em;
}

table, th, td {
    color: #696459;
    font-size: 1.1em;
    border: 1px solid #696459;
    margin-left: auto;
    margin-right: auto;
    width: 12vw;
    background-color: #dbd4ba;
}

td {
    padding: 0.15em;
}

.tableHeader {
    color: #696459;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}

.tableData {
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    font-size: 1.5em;
}

.row {
    display: flex;
    justify-content: center;
}

#rowPastResults {
    display: none;
    justify-content: center;
}

#pastResults {
    width: 100vw;
}

#noPastResultsMsg {
    display: none;
    background-color: #b5af9b;
    justify-content: center;
    color: white;
    font-size: 1.2em;
}

/* Make table header in past results stick to the top of the screen */
/* https://css-tricks.com/position-sticky-and-table-headers/ */
.pastResultsTableHeader {
    background-color: #696459;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */

    color: #d1cbb2;
}

.backButton, #customiseButton {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#timer, #goalsToReach {
    margin-bottom: 3vh;
    border: 1px solid #696459;
}

.trGameModeValueLabel > td { 
    border: none;
}

button {
    cursor: pointer;
}

#gamepadLogContainer {
    width: 30vw;
    height: 50vh;
    border: 1px solid #696459;
    background-color: #dbd4ba;
    font-size: 1.1em;
    overflow: auto; /* Makes the div scrollable */
}

#gamepadLog {
    margin: 10px;
}

.gamepadSetting {
    width: 7vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.logMessage {
    border-bottom: 1px solid #696459;
}

.logTimestamp {
    color: #696459;
}

#testGamepadContainer {
    margin-top: 2em;
    border: 1px solid #696459;
    background-color: #dbd4ba;
    width: 40vw;
    height: 20vh;
    text-align: center;
    font-size: 1.1em;
    overflow: auto; /* Makes the div scrollable */
}

#testGamepadButton {
    margin: 1.5em;
}