body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
}
  
.grid-item {
    border: 1px solid darkred;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: blue;
}

#indexButtons {
    text-align: center;
    margin-top: 3vh;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

    /* Centralise countdown text. Only works when display: flex */
    justify-content: center; /* Vertically */
    align-items: center; /* Horizontally */
}

#countdown {
    color: yellow;
    font-size: 7em;
}

#scoreAndNextShape {
    margin-left: 2em;
}

#setGameModeButton {
    margin-left: 2em;
    margin-top: 10vh;
}

#combosAndTime {
    margin-right: 2em;
}

table, th, td {
    color: white;
    font-size: 1.1em;
    /* border: 1px solid darkgoldenrod; */
    border: 1px solid seagreen;
    margin-left: auto;
    margin-right: auto;
    width: 12vw;
}

td {
    padding: 0.15em;
}

.tableHeader {
    color: gray;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}

.tableData {
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    font-size: 1.5em;
}

#rowGameplay, #rowGameMode {
    display: flex;
    justify-content: center;
}

#rowPastResults {
    display: none;
    justify-content: center;
}

#pastResults {
    width: 100vw;
}

#noPastResultsMsg {
    display: none;
    background-color: darkslategray;
    justify-content: center;
    color: white;
    font-size: 1.2em;
}

/* Make table header in past results stick to the top of the screen */
/* https://css-tricks.com/position-sticky-and-table-headers/ */
.pastResultsTableHeader {
    background-color: darkslategrey;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
}

.backButton, #customiseButton {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#timer, #goalsToReach {
    margin-bottom: 3vh;
    border: 1px solid gold;
}

/* #goalsToReach:has(td)  */
.trGameModeValueLabel > td { 
    border: none;
}

button {
    cursor: pointer;
}